@import 'bootstrap/dist/css/bootstrap';

html,
body {
  background-color: #fafafa;
}

#display {
  margin-top: 100px;
}

#display.running canvas {
  border-radius: 2px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
